body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center; /* Center align contents horizontally */
}

.header h1 {
  margin: 0;
  padding: 10px;
  color: #333; /* Default title color */
  display: inline-block; /* Make the h1 element inline-block to center it */
}

.dark-mode .header h1 {
  color: #fff; /* White title color in dark mode */
}

.form {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px; /* Adjusted spacing between input groups */
  text-align: center; /* Center align input elements */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
  text-align: left; /* Adjust label alignment */
}

.input-group input[type="number"] {
  width: calc(100% - 24px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
}

.output p {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.interpretation p {
  font-weight: bold;
}

.bmi-scale {
  height: 10px;
  background-color: #007bff; /* Default color */
  margin-top: 10px;
  border-radius: 5px;
}

.dark-mode {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode .container {
  background-color: #333; /* Dark container background color */
  color: #fff; /* Light text color */
}

.dark-mode button {
  background-color: #444; /* Dark button background color */
  color: #fff; /* Light text color */
}

.dark-mode .input-group label {
  color: #ccc; /* Light label color */
}

.dark-mode .input-group input[type="number"] {
  background-color: #444; /* Dark input background color */
  color: #fff; /* Light text color */
  border-color: #555; /* Dark border color */
}

.dark-mode .bmi-scale {
  background-color: #ddd; /* Light BMI scale color in dark mode */
}

.dark-mode button:hover {
  background-color: #666; /* Dark button hover color */
}

button#darkModeToggle {
  margin-bottom: 10px; /* Adjust margin bottom as needed */
}
